<IfModule mod_rewrite.c>
  RewriteEngine On

  # redirect to our front web controller, protecting real files (like CSS)
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>